@page "/Dietplan"

@using DietplannerBlazor.Data
@inject DietplanService PlanService

@if (dietplan == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Menge (g)</th>
                <th>Kalorien (kcal)</th>
                <th>Eiweiß (g)</th>
                <th>Kohlenhydrate (g)</th>
                <th>Fette (g)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var foodentry in dietplan.FoodEntries)
            {
                <tr>
                    <td>@foodentry.Food.Name</td>
                    <td>@foodentry.Quantity.ToString("0.##")</td>
                    <td>@foodentry.Calories.ToString("0.##")</td>
                    <td>@foodentry.Food.Macros.Proteins.ToString("0.##")</td>
                    <td>@foodentry.Food.Macros.Carbs.ToString("0.##")</td>
                    <td>@foodentry.Food.Macros.Fats.ToString("0.##")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dietplan dietplan;

    protected override async Task OnInitializedAsync()
    {
        dietplan = await PlanService.GetDietPlanAsync();
    }
}
